{{- $theme := index .themes $.active_theme.family $.active_theme.variant -}}
{{- $s := .semantic -}}
* {
    font-family: "Hack", monospace;
    font-size: 26px;
}

window {
    background-color: {{ template "color-hex.tmpl" (index $theme $s.surface.primary) }};
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    background-color: {{ template "color-hex.tmpl" (index $theme $s.surface.primary) }};
    color: {{ template "color-hex.tmpl" (index $theme $s.text.primary) }};
    font-size: 32px;
    padding: 10px;
}

#inner-box {
    background-color: {{ template "color-hex.tmpl" (index $theme $s.surface.elevated) }};
}

#outer-box {
    margin: 2px;
    padding: 10px;
    background-color: {{ template "color-hex.tmpl" (index $theme $s.surface.elevated) }};
}

#scroll {
    margin: 5px;
}

#text {
    padding: 8px;
    color: {{ template "color-hex.tmpl" (index $theme $s.text.primary) }};
    font-size: 26px;
    line-height: 1.3;
}

#entry:nth-child(even){
    background-color: {{ template "color-hex.tmpl" (index $theme $s.surface.subtle) }};
}

#entry:selected {
    background-color: {{ template "color-hex.tmpl" (index $theme $s.selection.background) }};
}

#text:selected {
    background: transparent;
}